doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#nav-bar
        ul 
            li #[a(href='/') Home] 
            li #[a(href='/') Services] 
            li #[a(href='/') About]
            li #[a(href='/') Contact us]
            li #[a(href='/') Class info] 
    section#introSection 
        div Welcome to Ran's meditation
        div.sm Awake your innerself..
    section#sponsorSection 
        h2 Our Sponsors 
    footer#footer 
        |our footer here
    script
      include ../static/index.js